/vendor
/node_modules
Homestead.yaml
.env
/.DS_Store
/Thumbs.db
/*.sublime-project
/*.sublime-workspace
.idea
.project
_ide_helper.php
composer.phar
error.log
/nbproject/private/
/bootstrap/compiled.php
.env.*.php
.env.php
.phpintel
.bowerrc
/tests
composer.lock
gulp
/locations
/public/uploads
/public/html
