/bootstrap/compiled.php
.env.*.php
.env.php
.env
.phpintel
/vendor
/tests
/storage
/bootstrap
composer.lock
/node_modules
Homestead.yaml
.env
/.DS_Store
/Thumbs.db
/*.sublime-project
/*.sublime-workspace
.idea
.project
_ide_helper.php
composer.phar
error.log
/nbproject/private/
.bowerrc
gulp
/locations
/public/uploads
/public/html
/resources/assets/vendor/
